/* Start template */
body{
   overflow:hidden
}
/* Start Loaded */
.lodeing{
    position:fixed;
    z-index:9999;
    width:100%;
    height:100%;
    background-color: #1abc9c;
}
.spinner {
    width: 40px;
    height: 40px;
    top: 35%;
    position: relative;
    margin: 100px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
/* End Loaded */

/* nav */
nav.navbar-light{
    padding:0;
    border-bottom: 1px solid #14be7f;
}.bg-light {
}
.navbar-nav .nav-link{
    font-size: 20px;
}nav .navbar-nav li{
    padding:10px;
    transition:all .5s ease-in-out
}nav .navbar-nav li:hover{
    background-color:rgb(107 210 172)
}
/* nav */
.overlay{
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgb(34 48 70 / 67%);
}.carousel.slide .carousel-inner .carousel-item img{
    height:100vh
}.carousel-caption{
    top:40%    
}.carousel-caption span{
    font-size: 13px;
    letter-spacing: 3px;
}.carousel-caption h2{
    font-weight: 200;
    font-size: 45px;
    line-height:52px
}.carousel-caption .form-control{
    width:200px;
    display:inline-block;
    position:relative
}.carousel-caption .form-control,
.carousel-caption .form-group button{
    border-radius: 22px 0 0 22px;
    min-height:50px
}
.carousel-caption .form-group button{
    border-radius: 22px 22px 22px  22px;
    width: 130px;
    position: relative;
    top: -2px;
    left: -28px;
    background-color:rgb(41, 202, 142);
    border-color:rgb(24, 145, 101);
}.carousel-caption .form-group{
    margin-top:35px;

}.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgb(22, 129, 90);
    outline: 0;
    box-shadow: none;
}.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgb(23, 141, 98);;
    border-color: rgb(17, 112, 77);
}.btn-primary.focus, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
    box-shadow:none
}.carousel-indicators li{
    background-color: #29ca8e;
}
/* Start what_you_get */
.what_you_get{
    padding:100px 0;
}.what_you_get img{
    margin-top: 37px;
    height: 391px;
    width: 100%;  
}.what_you_get h2{
    font-size: 43px;
    font-weight: 300;
    margin-bottom: 26px;
}.what_you_get h3{
    color: #656565;
    font-weight: 200;
    margin-top: 22px;
}.what_you_get p{
    color: #868686;
    font-size: 17px;
}.what_you_get .card{
    border:0;
}.what_you_get .card-body{
    text-align:left;
}.what_you_get .card-header{
    background-color:#fff;
    border-bottom: none;
}.what_you_get .card-header .nav-tabs li{
    cursor: pointer
}.nav-tabs .nav-link{
    color:#868686;
}.what_you_get .data_cards div:not(.opned){
    display:none
}
/* Section_Professional_Team_for_you */
.Section_Professional_Team_for_you{
    padding:100px 0;
    background-color: #f9f9f9;
}.Section_Professional_Team_for_you .card{
    margin-top:20px
}
/* Section_Professional_Team_for_you */
/* Section_What_People_Say */
.Section_What_People_Say{
    padding:80px 0;
}.Section_What_People_Say .peoples{
    background-color:#333
}.Section_What_People_Say .carousel-item{
    height:500px
}.Section_What_People_Say .carousel-item .carousel-caption{
    width:100%;
    height:100%;
    left:0;
    top:0;
    padding: 85px 20px;
    text-align: left;
}.Section_What_People_Say .view_img img{
    width:100%;
    max-height: 500px;
}.Section_What_People_Say .carousel-item .carousel-caption img{
    width:50px;
    height:50px !important;
    border-radius:50%;
    position:relative;
    top:0
}.Section_What_People_Say .carousel-item .carousel-caption .say_data{
    padding-top:22px
}.Section_What_People_Say .carousel-item .carousel-caption span{
    display:inline-block;
    text-indent:10px
}.Section_What_People_Say .carousel-item .carousel-caption ح{
    color: #c2c2c2;
}.Section_What_People_Say .carousel-indicators{
    bottom:22%
}.Section_What_People_Say .re_padding{
    padding-right: 0;
    padding-left: 0;
}
/* End Section_What_People_Say */
/* Start Choose_any_plan */
.Choose_any_plan{
    background-color: #f9f9f9;
    padding:80px 0
}.Choose_any_plan h2{
    text-align:center;
    font-size:40px;
    margin-bottom:40px;
}.Choose_any_plan .box_plan{
    background-color:#fff;
    padding:35px 30px;
    margin:22px 0
}.Choose_any_plan .box_plan .header_plan_box,
.Choose_any_plan .box_plan ul {
    border-bottom:2px solid #ececec;
    padding:10px 0;
    margin-bottom:20px;

}.Choose_any_plan .box_plan .header_plan_box h3{
    font-weight:200;
}.Choose_any_plan .box_plan ul {
    padding-bottom:20px
}.Choose_any_plan .box_plan ul li{
    padding: 5px 0;
    font-size: 17px;
    color: #929292;
}.Choose_any_plan .box_plan .footer_plan_box span{
    font-size: 24px;
}.Choose_any_plan .box_plan .footer_plan_box button{
    float:right;
    border-radius:19px 19px ;
    background-color:rgb(41, 202, 142);
    border-color: rgb(41, 202, 142);
}.Choose_any_plan .box_plan .footer_plan_box{

}
/* End Choose_any_plan */

/* fotm_footer */
.fotm_footer{
    padding:80px 0 40px 0
}.fotm_footer h2{
    text-align:center;
    font-size:40px;
    margin-bottom:60px
}.fotm_footer button{
    width:100%;
    background-color:#333;
    color:#fff;
    font-size: 18px;
    border-radius:19px 19px ;
}.fotm_footer button:hover{
    color:#fff
}.fotm_footer textarea{
    min-height:160px
}.fotm_footer textarea,
.fotm_footer input{
    border:0;
    border-bottom:2px solid #333
}
/* fotm_footer */
.footer{
    padding:50px 0;
    transition:all .5s ease-in-out
}.footer svg{
    display:inline-block;
    margin-right:7px
}.footer svg:hover{
    color:#d85a5a;
    cursor:pointer;
}
/* tools */
.moveClick,
.register_false{
    position:relative;
    cursor:pointer
}.form_result{
    position:relative;
    border-right:0
}.nav_opacity{
    background-color: #6b7484!important;
}
/* Scroll */
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-thumb {
    background-color: rgb(41, 202, 142);;
}